/************** Gesamte Seite **************/
body {
    background-color: #101010;
    margin: 0;
    padding: 10px;
    overflow-scrolling: auto;
    scroll-margin-inline-end: 100px;
    margin-bottom: 100px;
}
/************** Überschrift **************/
h1 {
    text-align: center;
    color: #FAFAFA ;
    padding: 5px;
    margin: 10px;
    font-family: Courier, sans-serif;
    text-transform: uppercase;
}
/************** Textabsätze **************/

p {
    margin: 5px;
    padding: 10px;
    display: inline-block;
    width: 75%;
    text-align: left;
}

/************** Buttons **************/
button {
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #880000;
    color: #FAFAFA;
    cursor: pointer;
}

/************** Dropdown Personenwahl **************/
#personenwahl {
    width: 75%;
    margin: 10px;
    text-align: left;
    border: none;
    border-radius: 10px;
}

#personenwahl .Select-control {
    background-color: #FAFAFA;
    border-radius: 10px;
    border: none;
}
#personenwahl .Select-value{
    background-color: #880000;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
}

#personenwahl .Select-menu-outer {
    background-color: #080000;
    border-radius: 10px;
    border: none;
}

#personenwahl .VirtualizedSelectFocusedOption {
    background-color: #FAFAFA;
    color: #101010;
    border-radius: 10px;
    border: none;
}

/************** Graph **************/
#dndw_graph {
    background-color: #101010;
    padding: 10px;
    margin: 5px;
}

/************** Filterliste **************/
#filter {
    text-align: left;
}

/************** Filterblock mit Personenwahldropdown **************/
#filter_select {
    display: inline-flex;
    padding: 20px;
    margin: 10px;
}

/************** Graph-Wahl Dropdown **************/
#graph_wahl{
    width: 50%;
    margin: 10px;
    text-align: left;
    border: none;
    border-radius: 10px;
}

#graph_wahl .Select-control {
    background-color: #FAFAFA;
    border-radius: 10px;
    border: none;
}
#graph_wahl .Select-value{
    background-color: #880000;
    color: #FAFAFA;
    border-radius: 10px;
    border: none;
}

#graph_wahl .Select-menu-outer {
    background-color: #080000;
    border-radius: 10px;
    border: none;
}

#graph_wahl .VirtualizedSelectFocusedOption {
    background-color: #FAFAFA;
    color: #101010;
    border-radius: 10px;
    border: none;
}


/************** Label **************/
label {
    margin: 5px;
    padding: 5px;
}

/************** Eingabefelder **************/
input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

/************** Suche Tabelle von Eingabefeldern und Buttons **************/
#suche {
    text-align: left;
}

/************** Graphauswahlblock **************/
#choose_graph {
    padding: 10px;
    margin: 5px;

}

/************** Standardblock **************/
div {
    color: #FAFAFA;
    font-family: Courier, sans-serif;
    font-size: 15px;
}

/************** Quellenausgabe **************/
pre {
    padding: 10px;
    margin: 5px;
    color: #101010;
    font-family: Courier, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    border: #FAFAFA;
    background-color: #FAFAFA;

}

/************** Quellenausgabe **************/
a:link{
    color: #FA49FA;
}
a:visited{
    color: #FFFFFF;
}

/************** Suchtiefe **************/
#depth
{
    width: 250%;
}

