<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8"/>
		<title>Graphrepräsentation | Gedenkstätte Deutscher Widerstand</title>
		<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}"/>
		<link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" />
		<script src="{{ url_for('static', filename='scripts/plotly-latest.min.js')}}"></script>
	</head>
	<body>
		<header>
			<h1>Biographien deutscher Widerstandskämpfer und Widerstandskämpferinnen gegen das NS-Regime.</h1>
		</header>
		<nav>
			<h1>Willkommen zur Graphsuche!</h1>
			<section>
				<h1>Einfache Suche</h1>
				<p>In das Eingabefeld kann ein beliebiger Begriff geschrieben werden, nach dem anschließend im Graphen zusammen mit seinen benachbarten Knoten in den ausgewählten Kategorien gesucht wird. Wird es leer gelassen, erscheint der ganze Graph. Dies kann dann eine Weile dauern.</p><br>
				<form action="/customControls" method="post" autocomplete="off">
					<label for="q"> Suchbegriff hier eingeben: </label><br><input type="text" name="q" id="q" value="{{q}}" placeholder="Stichwort, Name usw."/><br><br>
					<p>In welcher Kategorie sollen die Nachbarknoten sein? Ist nichts ausgewählt, werden alle Kategorien durchsucht.</p>
					<input type="checkbox" id="personen" name="tag" value="PER"{% if "PER" in tags %}checked{% endif %}>
					<label for="personen">Personen</label><br>
					<input type="checkbox" id="orte" name="tag" value="LOC"{% if "LOC" in tags %}checked{% endif %}>
					<label for="orte">Orte</label><br>
					<input type="checkbox" id="organisationen" name="tag" value="ORG"{% if "ORG" in tags %}checked{% endif %}>
					<label for="organisationen">Organisationen</label><br>
					<input type="checkbox" id="zeitangaben" name="tag" value="DATE"{% if "DATE" in tags %}checked{% endif %}>
					<label for="zeitangaben">Zeitangaben</label><br>
					<input type="checkbox" id="verschiedenes" name="tag" value="MISC"{% if "MISC" in tags %}checked{% endif %}>
					<label for="verschiedenes">Verschiedenes</label><br>
					<input type="checkbox" id="substantive" name="tag" value="NOUN" {% if "NOUN" in tags %}checked{% endif %}>
					<label for="substantive">Substantive</label><br>
					<p>Nachbarknoten bis
						<select id="customDepth" name = "depth">
							<option value="1" {% if depth == 1 or depth is not defined %}selected{% endif %}>1.</option>
							<option value="2" {% if depth == 2 %}selected{% endif %}>2.</option>
							<option value="3" {% if depth == 3 %}selected{% endif %}>3.</option>
							<option value="4" {% if depth == 4 %}selected{% endif %}>4.</option>
						</select>
						Grades sollen angezeigt werden.
					 </p>
					<input type="submit" value="Bestätigen">
				</form>
			</section>
			<section>
				<h1>Namenssuche</h1>
				<p>Alternativ kann ein Name aus der angegebenen Liste ausgewählt werden, für den ein Einzelgraph gezeichnet wird.</p>
				<form action="/customSingleName" method="post">
					<select id="customNames" name="customName">
						{% for name1 in names %}
							<option value="{{name1}}" {% if q == name1 %}selected{% endif %}>{{name1}}</option>
						{% endfor %}
					</select><br><br>
					<input type="submit" value="Bestätigen">
				</form>
			</section>
			<section>
				<h1>Von A nach B</h1>
				<p>Diese Suche findet die kürzesten Verbindungen zwischen den beiden eingegebenen Knoten.</p><br>
				<form action="/twoNodes" method="post" autocomplete="off">
					<label for="node1"> Ersten Knoten hier eingeben: </label><br><input type="text" name="node1" id="node1" value="{{node1}}" placeholder="z.B. Zeit"/><br><br>
					<label for="node2"> Zweiten Knoten hier eingeben: </label><br><input type="text" name="node2" id="node2" value="{{node2}}" placeholder="z.B. Ort"/><br><br>
					<p>In welchen Kategorien sollen die Knoten sein? Ist nichts ausgewählt, werden alle Knoten durchsucht.</p>
					<input type="checkbox" id="personen" name="tag2" value="PER"{% if "PER" in tags2 %}checked{% endif %}>
					<label for="personen">Personen</label><br>
					<input type="checkbox" id="orte" name="tag2" value="LOC"{% if "LOC" in tags2 %}checked{% endif %}>
					<label for="orte">Orte</label><br>
					<input type="checkbox" id="organisationen" name="tag2" value="ORG"{% if "ORG" in tags2 %}checked{% endif %}>
					<label for="organisationen">Organisationen</label><br>
					<input type="checkbox" id="zeitangaben" name="tag2" value="DATE"{% if "DATE" in tags2 %}checked{% endif %}>
					<label for="zeitangaben">Zeitangaben</label><br>
					<input type="checkbox" id="verschiedenes" name="tag2" value="MISC"{% if "MISC" in tags2 %}checked{% endif %}>
					<label for="verschiedenes">Verschiedenes</label><br>
					<input type="checkbox" id="substantive" name="tag2" value="NOUN" {% if "NOUN" in tags2 %}checked{% endif %}>
					<label for="substantive">Substantive</label><br>
					<input type="submit" value="Bestätigen">
				</form>
			</section>
		</nav>
		<main>
			{% if q is defined %}
				{% if div is defined %}
					{{ div|indent(12)|safe }}
				{% endif %}
				{% if script is defined %}
					{{ script|indent(12)|safe }}
				{% endif %}
				{% if err is defined %}
					<p>{{err}}</p>
				{% endif %}
			{% endif %}
			{% if context is defined %}
				{% if context != "not provided" %}
					<section>
						<h1>{{context[0]}}</h1>
						<p><i>{{context[1]}}</i></p><br>
						<p>{{context[2]}}</p>
					</section>
				{% endif %}
			{% endif %}
			{% if context2 is defined %}
				{% if context2 != "not provided" %}
					<section>
						<h1>{{context2[0]}}</h1>
						<p><i>{{context2[1]}}</i></p><br>
						<p>{{context2[2]}}</p>
					</section>
				{% endif %}
			{% endif %}
		</main>
		<aside>
			<section>
			<h1>Legende</h1>
				<ul>
					<li>PER = Person</li>
					<li>LOC = Ort</li>
					<li>ORG = Organisation</li>
					<li>DATE = Zeitangabe</li>
					<li>MISC = Verschiedenes</li>
					<li>NOUN = Substantiv</li>
				</ul>
			</section>
			<section>
				<h1>Korrekte Schreibweise interessanter Graphknoten</h1>
				<ul>
					<li>1933, 20 Juli 1944 (ohne Punkt)</li>
					<li>Leipzig, Berlin usw.</li>
					<li>KPD, SPD, Kommunist, Sozialdemokrat</li>
				</ul>
			</section>
		</aside>
		<footer>
			<small>
				<p>
					Alle Daten und das Favicon stammen von der <a href="https://www.gdw-berlin.de/vertiefung/biografien/personenverzeichnis/">Stiftung Gedenkstätte Deutscher Widerstand Berlin</a>.
				</p>
				<p>&copy; Richard Aude, Sandra Bernstein, Jonas Richter, 2021.</p>
			</small>
		</footer>
	</body>
</html>
